* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 194;
  --primary-color: hsl(194, 72%, 13%);

  --ff-primary: 'Roboto', sans-serif;
  --bg-text-color: hsl(0, 0%, 100%);
  --bg-color:  hsl(0, 0%, 0%);

  --input-color: hsl(191, 65%, 7%);
  --input-text-color: hsl(240, 6%, 51%);

  --border-color: hsl(191, 31%, 42%);
  --scroll-color: hsl(191, 31%, 42%);
  --scroll-active-color: hsl(190, 31%, 33%);

  --even-color: hsl(191, 65%, 7%);
  --odd-color:hsla(194, 64%, 6%, 0.502);

  --bf-color: hsl(195, 91%, 25%);
  --br-color: hsl(355, 91%, 66%);
  
  --bf-hover-color: hsl(195, 91%, 15%);
  --br-hover-color: hsl(355, 97%, 59%);

  --nf-color: hsl(192, 63%, 3%);
  --nf-text-color: hsl(189, 4%, 32%);

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--bg-text-color);
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hide {
  display: none;
}

#app {
  max-width: 112rem;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 4rem auto 8.7rem;
}

header h1 {
  font-size: 2rem;
}

.search {
  height: 4.8rem;

  display: flex;
  align-items: center;
  gap: .8rem;
}

.search input {
  width: 46.2rem;
  padding: 1.6rem;

  font-size: 1.6rem;
  font-weight: 400;
  
  color: var(--input-text-color);
  background-color: var(--input-color);

  border: none;
  border-radius: .4rem;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;

  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;

  width: 17rem;
  height: 4.8rem;
  
  border: none;
  border-radius: .4rem;

  color: var(--bg-tcolor);
  background-color: var(--bf-color);

  cursor: pointer;
  transition: all .5s;
}

.search button:hover {
  background-color: var(--bf-hover-color);
  transition: all .5s;
}

.wrapper {
  max-height: 68.8rem;

  border: 2px solid var(--border-color);
  border-radius: 1.2rem;
  overflow: hidden overlay;
}

.wrapper::-webkit-scrollbar {
  width: 2.2rem;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 1rem;
  
  border: .8rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.wrapper::-webkit-scrollbar-track {
  margin-block-start: 5rem; 
}

.wrapper::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-active-color);
}

table {
  width: 100%;
  border-spacing: 0;
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.6rem 4rem;
}

table th:first-child {
  width: 20vw;
}

table tr:nth-child(odd) {
  background-color: var(--odd-color);
}

table tr:nth-child(even) {
  background-color: var(--even-color);
}

table tr:not(:first-child) td{
  border-top: 2px solid var(--border-color);
}

table td {
  padding: 2.4rem 4rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
  transition: all .3s;
}

td.user a:hover {
  color: hsl(0, 0%, 65%);
  transition: all .3s;
}

td.user a p,
td.repositories,
td.followers,
td button.remove {
  font-size: 2rem;
  font-weight: bold;
}

td button.remove {
  background: none;
  border: none;

  color: var(--br-color);
  transition: all .3s;

  cursor: pointer;
}

td button.remove:hover {
  color: var(--br-hover-color);
  transition: all .3s;
}

.no-favs {
  height: 62.4rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  background-color: var(--nf-color);
}

.no-favs h2 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 4rem;

  color: var(--nf-text-color);
}
